/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
/* Reset CSS */
:root {
    font-size: 18px;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Page Layout */
body {
    height: 100vh;
}

#container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;   
}

.level1 {
    background-image: linear-gradient(to top, #396bf8 -10%, white 20%);
}
.level2 {
    background-image: linear-gradient(to top, #e61c55 -10%, white 20%);;
}

.level3 {
    background-image: linear-gradient(to top, #2dce21 -10%, white 20%);
}

.level4 {
    background-image: linear-gradient(to top, #d727f7 -10%, white 20%);;
}

.level5 {
    background-image: linear-gradient(to top, #ffe63f -10%, white 20%);
}

.level6 {
    background-image: linear-gradient(to top, #23d7e2 -10%, white 20%);
}

.level7 {
    background-image: linear-gradient(to top, #23e29f -10%, white 20%);
}

.level8 {
    background-image: linear-gradient(to top, #ff6c11 -10%, white 20%);
}

.level9 {
    background-image: linear-gradient(to top, #e0d852 -10%, white 20%);
}

.level10 {
    background-image: linear-gradient(to top, #7700c3 -10%, white 20%);
}

/* Make borders visible for dev purpose
.container section, div {
    border: 1px solid gray;
}
*/

/* .container > section {
    display: flex;
    height: 90vmin;
} */

h1 {
    font-size: 24vmin;
    font-family: 'Fugaz One', sans-serif;
    line-height: 21vmin;
    font-family: 'Fugaz One', sans-serif;
    writing-mode: vertical-lr;
}

.board-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.board {
    width: 45vmin;
    height: 90vmin;
    border: 2px solid gray;
    display: flex;
    flex-flow: row wrap;
    font-size: x-small;
}

.board > div {
    border: 0.5px dotted lightgray;
    background-color: white;
    opacity: 0.8;
}

div .gameover {
    background-image: url(../assets/grey.png);
    background-size: cover;
    border: none;
}

div .ghost {
    opacity: 0.2;
}

div .o {
    background-image: url(../assets/yellow.png);
    background-size: cover;
    border: none;
    /* background-col
    /* background-color: aqua;
    border: 0.5px solid black; */
}

div .j {
    background-image: url(../assets/blue.png);
    background-size: cover;
    border: none;
}

div .l {
    background-image: url(../assets/orange.png);
    background-size: cover;
    border: none;
}

div .s {
    background-image: url(../assets/green.png);
    background-size: cover;
    border: none;
}

div .i {
    background-image: url(../assets/cyan.png);
    background-size: cover;
    border: none;
    /* background-color: blue;
    border: 0.5px solid black; */
}

div .z {
    background-image: url(../assets/red.png);
    background-size: cover;
    border: none;
}

div .t {
    background-image: url(../assets/purple.png);
    background-size: cover;
    border: none;
    /* background-color: pink; */
    /* border: 0.5px solid black; */
}

.info-area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8vmin 0;
    font-family: 'K2D', sans-serif;
    font-size: 2.4vmin;
    height: 90vmin;
}

.scoreboard {
    padding: 2vmin 6vmin 2vmin 2vmin;
    line-height: 4.5vmin;
    border: 2px solid gray;
    margin-left: 4vmin;
}

.next-piece-box {
    padding: 1vmin 2vmin 2vmin 2vmin;
    border: 2px solid gray;
    width: 25vmin;
    height: 20vmin;
    margin-left: 4vmin;
}

.next-piece-box > p {
    text-align: center;
    margin-bottom: 2vmin;
}

.next-piece-grid {
    display: flex;
    flex-flow: row wrap;
    font-size: x-small;
    margin: auto;
    line-height: 0;
}

.messaging-area {
    font-family: 'Fugaz One', sans-serif;
    font-size: xx-large;
    text-align: left;
    padding-left: 2vmin;
}

.message p {
    font-family: 'K2D', sans-serif;
    font-size: medium;
}

@keyframes alert {
    0% { opacity: 0; transform: scale(1, 1) translateY(0);}
    2% { transform: scale(1.1, 1.1);}
    3% { transform: scale(1, 1);}
    25% { opacity: 1; }
    65% { opacity: 1; transform: scale(1, 1) translateY(-2vmin)}
    100% { opacity: 0; transform: scale(2, 2) translateY(-2.5vmin);}
}

@keyframes persistent {
    0% { transform: scale(1, 1); }
    50% { transform: scale(1.1, 1.1); }
    100% { transform: scale(1, 1); }
}

.alert {
    animation: alert 1s ease both;
}

.persistent {
    animation: persistent 2s ease infinite both;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.8;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

.overlay-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#overlay h2 {
    font-family: 'Fugaz One', sans-serif;
    font-size: 7.5vmin;
    text-align: center;
    opacity: 1;
}

#overlay p {
    font-family: 'K2D', sans-serif;
    font-size: 3.5vmin;
    text-align: center;
    opacity: 1;
    line-height: 6vmin;
}

.audio-controls {
    display: flex;
    gap: 3vmin;
}

#audio-on {
    text-decoration: underline;
    cursor: pointer;
}

#audio-off {
    cursor: pointer;
}

#close-overlay {
    position: absolute;
    right: 4vmin;
    top: 4vmin;
}

#menu-icon {
    position: absolute;
    right: 4vmin;
    top: 4vmin;
    cursor: pointer; /* Add a pointer on hover */
}